AGENT_NAME=placeholder
AGENT_EMAIL=placeholder
GMAIL_ACCOUNT=placeholder
GMAIL_PASSWORD=placeholder
GOOGLE_SHEET_ID=placeholder
AWS_ACCESS_KEY_ID=placeholder
AWS_SECRET_ACCESS_KEY=placeholder
GOOGLE_CLIENT_ID=placeholder
GOOGLE_CLIENT_SECRET=placeholder
GOOGLE_PROJECT_ID=placeholder
BROWSERBASE_API_KEY=placeholder
BROWSERBASE_PROJECT_ID=placeholder
