*.py[codz]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
.env
*.pem
# relevant information
# https://youtu.be/xIk0_uFV-rU?si=A2NJXcz39sYBxlWf&t=104
node_modules/

# dont track tool evictions
snapshots/

# don't track my docs
*.pdf
*.odt

# don't track the vm iso
*.iso
